<div>Hello, Liste des blagues :</div>

<div><%= link_to "Publier une nouvelle blague", new_blague_path()%></div>
<% @blague.each do |blague| %>
  <p><strong><%= blague.nom %></strong></p>
  <p><em>- <%= blague.auteur %></em></p>
  <div> <%= link_to 'Voir',blague_path(blague) %></div>
  <div> <%= link_to 'Edit',edit_blague_path(blague) %></div>
<% end %>
